@media #{$small} {
    .news-container {
        @include order(2);
        .news {
            &::-webkit-scrollbar {
                display: none;
            }
            // -ms-overflow-style: -ms-autohiding-scrollbar;
            -webkit-overflow-scrolling: touch;
            overflow-y: auto;
            white-space: nowrap;
            margin: 10px 0;
            height: 2.3em;
            .news-item {
                display:inline-block;
                padding: 5px 15px;
                margin: 0;
                color: white;
                @include main-font();
                font-size: 1.2em;
                font-weight: 400;
                text-transform: uppercase;
                &:nth-child(3n) {
                    background-color: $purple;
                }
                &:nth-child(3n+1) {
                    background-color: $teal;
                }
                &:nth-child(3n+2) {
                    background-color: $gray;
                }
            }
        }
    }
    .swiper-container, .swiper-slide {
        display: none;
    }
}
@media #{$medium-and-large} {
    .news-container {
        margin-top: 10px;
        .news {
            position: relative;
            .news-item {
                z-index: 20;
                display: none;
                &.active {
                    position: absolute;
                    bottom: 10px;
                    right: 0;
                    max-width: 80%;
                    padding: 10px 20px;
                    display: block;
                    font-weight: 300;
                    line-height: 1.2em;
                    font-size: 2em;
                    background-color: rgba(133, 128, 132, 0.95);
                    color: white;
                    text-transform: uppercase;
                    box-shadow: -3px 2px 4px rgba(0, 0, 0, 0.2);
                    html.allow-hover &:hover {
                        background-color: lighten($purple, 10%);
                    }
                    &:after{
                        position: absolute;
                        top: -0.60em;
                        right: 0;
                        width: 0;
                        height: 0;
                        border: solid transparent;
                        content: "";
                        pointer-events: none;
                        border-left-color: $purple;
                        border-bottom-color: $purple;
                        border-width: 10px;
                        z-index: -20;
                        box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.5) inset;
                    }
                }
            }
        }
    }

    /** Used by Swiper **/
    .swiper-direction {
        position: absolute;
        top: 23%;
        z-index: 100;
        height: 40%;
        padding: 10px;
        user-select: none;
        cursor: pointer;
        &:hover {
            .icon {
                color: white;
            }
        }
        .icon {
            color: $purple;
            font-size: 3em;
            line-height: 3em;
        }
    }
    .swiper-prev {
        .prev-icon {
            &:after {
                @include icon('053');
            }
        }
    }
    .swiper-next {
        right: 0;
        .next-icon {
            &:after {
                @include icon('054');
            }
        }
    }
    .pagination-container {
        position: absolute;
        left: 10px;
        top: 10px;
        // z-index: 2;
    }
    .swiper-pagination-switch {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      border-width: 1px;
      border-color: $purple;
      border-style: solid;
      background: #999;
      box-shadow: 0px 1px 2px #555 inset;
      margin: 0 3px;
      cursor: pointer;
    }
    .swiper-active-switch {
      background: $purple;
    }
    .swiper-container {
        // @include box-sizing(border-box);
        // border: 3px solid white;
        box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.2);
    }
    .swiper-container, .swiper-slide {
        left: -10px;
        width: calc(100% - 20px);
        width: -webkit-calc(100% - 20px);
        height: 300px;
        z-index: 0;
    }
}