$nuhelp-background: saturate(#A24840, 10%);

// Drawer
$dosa-background-color: #D1D3D2;
$dosa-heading-text-color: #eeeeee;
$dosa-heading-background-color: $purple; //#563772;
$dosa-list-background-color: #696473;
$dosa-main-text-color: #dedede;
$drawer-width: 253px;
$extra-container-height: 10.5em;

// Banner
$dosa-banner-background-color: $purple;
$dosa-banner-height: 3.25em;

// Dosa Footer
$dosa-footer-background-color: #999999;
$dosa-footer-text-color: #eeeeee;

@media #{$medium-and-large} {
    .dosa {
        display: none;
    }
    .dosa-banner {
        margin-top: 30px;
        position:relative;

        height: $dosa-banner-height;
        z-index: 1000;
        .inner-left {
            background-color: $dosa-banner-background-color;
            position: absolute;
            width: 41%;
            height: 100%;
        }
        .inner {
            position: relative;
            max-width: $main-area-max-width;
            width: 100%;
            margin: 0 auto;
            padding: 0;
            z-index: 1;
            #banner-title {
                // text-transform: uppercase;
                // font-weight: 300;
                background-color: $bg-color;
                // font-size: 1.5em;
                // display: inline-block;
                // line-height: 1.1em;
                // color: $purple;
                // padding: 0 15px;
                // margin-bottom: 0;
                display: block;
                position: relative;
                padding-left: 30px;
                color: rgba(0, 0, 0, 0);
                text-indent: -9999px;
                width: 300px;
                top: 0px;
                height: 55px;
                background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?>
                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
                	 viewBox='0 0 652.333 82.5' enable-background='new 0 0 652.333 82.5' xml:space='preserve'>
                <g>
                	<polygon fill='#4F2984' points='9.824,18.876 9.824,20.255 13.283,24.138 13.283,50.788 8.613,52.091 8.613,53.655 21.254,53.655
                		21.254,52.08 17.271,51.027 16.253,49.78 16.253,27.541 38.412,53.919 40.361,53.919 40.361,22.22 45.051,20.8 45.051,19.146
                		32.223,19.146 32.223,21.01 36.301,22.033 37.293,23.282 37.293,44.349 37.287,44.325 37.026,44.325 15.524,18.876 	'/>
                	<path fill='#4F2984' d='M57.267,54.231c-6.257,0-12.252-4.015-12.252-12.562c0-8.498,6.36-12.772,12.252-12.772
                		c6.151,0,12.353,3.858,12.353,12.353C69.619,49.436,63.05,54.231,57.267,54.231z M64.772,41.982c0-5.84-3.18-10.791-8.185-10.791
                		c-4.483,0-6.725,3.909-6.725,9.747c0,5.84,2.815,10.946,8.079,10.946C62.425,51.884,64.772,47.82,64.772,41.982z'/>
                	<path fill='#4F2984' d='M132.539,39.479c0-5.84-3.283-6.985-7.089-6.985c-3.234,0-5.318,2.397-5.318,2.397v3.86v11.158l0.999,1.254
                		l3.371,1.175l0.004,1.321H112.37v-1.355L115.811,51l-0.005-25.127c0-4.546-1.148-5.786-3.65-5.786v-1.199l7.715-2.606h0.522
                		c0,0-0.261,5.37-0.261,9.382v7.247c0,0,5.005-4.013,8.444-4.013c4.276,0,8.237,1.771,8.237,8.079l-0.005,12.931l0.999,1.254
                		l3.371,1.175l0.004,1.321h-12.137v-1.355l3.338-1.269L132.539,39.479z'/>
                	<path fill='#4F2984' d='M181.78,40.26c0,7.247,4.118,10.269,8.811,10.269c2.919,0,6.409-1.197,6.409-1.197l0.522,0.99
                		c-1.251,1.249-4.744,3.909-9.124,3.909c-5.941,0-11.257-4.431-11.257-12.562c0-7.404,5.109-12.772,11.468-12.772
                		c4.951,0,8.809,2.971,8.809,8.602c0,1.458-0.261,2.761-0.261,2.761H181.78z M189.443,38.28c2.503-0.103,3.389-0.574,3.389-3.128
                		c0-2.19-1.566-3.857-4.902-3.857c-3.493,0-6.151,3.076-6.151,7.247L189.443,38.28z'/>
                	<path fill='#4F2984' d='M203.144,53.293c-0.365-0.158-1.301-0.678-1.355-1.773l-0.313-4.951h2.293
                		c0.626,3.387,2.921,5.577,5.892,5.577c3.022,0,4.222-1.564,4.222-3.648c0-1.98-1.616-3.025-3.596-4.067l-2.66-1.355
                		c-3.803-1.929-5.68-3.493-5.68-7.247c0-4.69,3.387-6.932,8.651-6.932c3.702,0,6.569,1.407,6.569,1.407l-0.677,6.099h-2.138
                		c0-3.806-1.562-5.212-4.744-5.212c-2.136,0-4.116,0.833-4.116,2.919c0,1.668,0.678,2.397,4.796,4.535l2.345,1.2
                		c4.276,2.19,5.473,4.015,5.473,7.557c0,4.276-4.273,6.83-8.444,6.83C207.001,54.231,204.656,53.919,203.144,53.293z'/>
                	<path fill='#4F2984' d='M244.132,40.26c0,7.247,4.118,10.269,8.811,10.269c2.919,0,6.41-1.197,6.41-1.197l0.522,0.99
                		c-1.251,1.249-4.744,3.909-9.123,3.909c-5.941,0-11.257-4.431-11.257-12.562c0-7.404,5.109-12.772,11.469-12.772
                		c4.951,0,8.808,2.971,8.808,8.602c0,1.458-0.261,2.761-0.261,2.761H244.132z M251.795,38.28c2.502-0.103,3.389-0.574,3.389-3.128
                		c0-2.19-1.564-3.857-4.902-3.857c-3.493,0-6.15,3.076-6.15,7.247L251.795,38.28z'/>
                	<path fill='#4F2984' d='M308.305,51.162l-0.999-1.254l0.05-13.192c0-6.099-3.961-7.818-8.025-7.818
                		c-3.443,0-8.291,4.013-8.291,4.013c0-2.19,0.106-4.17,0.106-4.17h-0.416l-7.611,2.764v1.251c2.919,0,3.7,2.606,3.7,7.296V51
                		l-3.439,1.303v1.355h11.984l0.097-1.321l-3.371-1.175l-0.999-1.254l0.004-14.963c0,0,1.823-2.451,5.109-2.451
                		c3.387,0,6.88,1.199,6.88,6.985l-0.16,11.568l-3.328,1.256v1.355h11.986l0.097-1.321L308.305,51.162z'/>
                	<path fill='#4F2984' d='M163.616,53.919l-5.583-15.486l-6.398,15.486h-2.187l-6.288-19.132c-0.887-2.397-1.393-3.806-3.061-3.806
                		v-1.458h10.289v1.472l-3.133,1.029l4.69,15.848l4.118-9.904l0.959-2.511l-1.413-4.033l-1.787-0.441v-1.458h9.952v1.56l-3.137,0.941
                		l5.289,15.848l5.491-15.742l-3.545-1.251v-1.355h9.331v1.458c-2.136,0.261-3.18,0.835-4.848,5.109l-6.281,17.829H163.616z'/>
                	<path fill='#4F2984' d='M109.483,50.061c0,0-1.458,0.939-3.648,0.939c-2.347,0-4.483-1.303-4.431-4.537l0.209-13.656h7.715v-0.002
                		h0.07l0.106-0.849h0.002l0.522-4.28l-0.993-0.178l-0.745,1.634l-0.425,0.358l-6.135,0.239l0,0l-0.065,0.002v-6.202l-3.025,0.52
                		l-1.301,5.892l-4.276,0.416v2.034c2.345,0,4.276,0.207,4.276,2.449c0,2.241-0.209,9.279-0.209,12.094
                		c0,5.318,2.032,7.298,5.422,7.298c2.919,0,5.316-1.2,7.505-2.971L109.483,50.061z'/>
                	<path fill='#4F2984' d='M237.104,50.061c0,0-1.461,0.939-3.65,0.939c-2.345,0-4.483-1.303-4.431-4.537l0.209-13.656h7.715v-0.002
                		h0.016l0.103-0.849h0.002l0.522-4.28l-0.99-0.178l-0.747,1.634l-0.425,0.358l-6.133,0.239v0.002h-0.011v-6.202l-3.022,0.52
                		l-1.305,5.892l-4.274,0.416v2.034c2.347,0,4.274,0.207,4.274,2.449c0,2.241-0.207,9.279-0.207,12.094
                		c0,5.318,2.034,7.298,5.421,7.298c2.919,0,5.318-1.2,7.505-2.971L237.104,50.061z'/>
                	<path fill='#4F2984' d='M90.079,29.21v-0.002h-0.005c-0.025-0.009-0.909-0.311-2.604-0.311c-3.648,0-7.454,5.734-7.454,5.734
                		c0-3.18,0.104-5.892,0.104-5.892h-0.416l-7.454,2.764v1.251c2.813,0,3.7,2.554,3.7,6.88V51l-3.441,1.303v1.355h11.986l-0.007-1.321
                		l-3.371-1.175l-0.997-1.254V38.75c0-3.441,2.712-5.37,5.631-5.37c0.596,0,1.208,0.146,1.735,0.324l0.815,1.204l1.004,0.081
                		l0.772-5.779H90.079L90.079,29.21z'/>
                	<path fill='#4F2984' d='M280.737,29.21v-0.002h-0.002c-0.025-0.009-0.907-0.311-2.604-0.311c-3.65,0-7.454,5.734-7.454,5.734
                		c0-3.18,0.104-5.892,0.104-5.892h-0.419l-7.453,2.764v1.251c2.815,0,3.702,2.554,3.702,6.88V51l-3.441,1.303v1.355h11.986
                		l-0.007-1.321l-3.371-1.175l-0.997-1.254V38.75c0-3.441,2.71-5.37,5.631-5.37c0.596,0,1.211,0.146,1.733,0.324l0.817,1.204
                		l1.004,0.081L280.737,29.21L280.737,29.21L280.737,29.21z'/>
                </g>
                <g>
                	<path d='M324.723,74.884V9.616h1.785v65.269H324.723z'/>
                </g>
                <g>
                	<path d='M354.88,50.865c-1.715,1.681-4.375,2.485-7.036,2.485c-3.01,0-5.425-0.84-7.105-2.38c-1.575-1.471-2.66-3.605-2.66-5.951
                		h3.255c0,1.471,0.735,2.94,1.751,3.921c1.12,1.085,3.01,1.54,4.76,1.54c1.891,0,3.501-0.386,4.621-1.436
                		c0.77-0.7,1.26-1.575,1.26-2.905c0-1.925-1.225-3.535-4.165-3.99l-3.921-0.595c-3.71-0.561-6.615-2.626-6.615-6.581
                		c0-1.855,0.84-3.641,2.17-4.9c1.715-1.61,3.921-2.45,6.511-2.45c2.415,0,4.796,0.805,6.44,2.38c1.506,1.436,2.311,3.221,2.381,5.32
                		h-3.256c-0.07-1.225-0.524-2.31-1.225-3.115c-0.945-1.085-2.45-1.715-4.376-1.715c-1.785,0-3.325,0.49-4.41,1.715
                		c-0.63,0.735-1.016,1.575-1.016,2.695c0,2.24,1.855,3.256,3.711,3.501c1.4,0.175,2.765,0.42,4.13,0.63
                		c4.131,0.595,6.896,3.115,6.896,7.035C356.981,48.135,356.105,49.675,354.88,50.865z'/>
                	<path d='M369.02,30.983v21.912h-3.15V30.983h-7.386v-2.905h17.922v2.905H369.02z'/>
                	<path d='M388.725,53.351c-5.565,0-9.065-3.36-9.065-9.556V28.078h3.115v15.786c0,3.956,1.645,6.581,5.95,6.581
                		s5.95-2.625,5.95-6.581V28.078h3.116v15.717C397.791,49.99,394.29,53.351,388.725,53.351z'/>
                	<path d='M419.245,50.41c-1.75,1.681-4.096,2.485-6.511,2.485h-8.646V28.078h8.646c2.415,0,4.761,0.84,6.511,2.521
                		c2.73,2.59,3.186,6.3,3.186,9.87C422.431,44.04,421.941,47.82,419.245,50.41z M417.145,32.663c-1.155-1.155-2.8-1.715-4.41-1.715
                		h-5.531v19.077h5.531c1.61,0,3.255-0.561,4.41-1.716c1.96-1.995,2.136-5.18,2.136-7.841
                		C419.281,37.809,419.105,34.693,417.145,32.663z'/>
                	<path d='M427.783,52.896V28.078h16.592v2.87h-13.477v7.561h11.832v2.94h-11.832v8.576h13.477v2.87H427.783z'/>
                	<path d='M464.85,52.896l-12.182-19.952v19.952h-3.011V28.078h3.501L465.339,48.1V28.078h3.011v24.817H464.85z'/>
                	<path d='M482.838,30.983v21.912h-3.15V30.983h-7.386v-2.905h17.922v2.905H482.838z'/>
                	<path d='M516.089,52.896l-2.03-5.881h-10.781l-1.995,5.881h-3.15l8.751-24.817h3.64l8.786,24.817H516.089z M508.633,31.193
                		l-4.376,12.881h8.786L508.633,31.193z'/>
                	<path d='M526.201,30.948v8.086h11.552v2.94h-11.552v10.921h-3.115V28.078h16.067v2.87H526.201z'/>
                	<path d='M546.746,30.948v8.086h11.552v2.94h-11.552v10.921h-3.115V28.078h16.067v2.87H546.746z'/>
                	<path d='M577.689,52.896l-2.03-5.881h-10.781l-1.995,5.881h-3.15l8.751-24.817h3.64l8.786,24.817H577.689z M570.233,31.193
                		l-4.376,12.881h8.786L570.233,31.193z'/>
                	<path d='M584.686,52.896V28.078h3.186v24.817H584.686z'/>
                	<path d='M609.537,52.896l-4.69-10.326h-6.861v10.326h-3.115V28.078h9.731c2.905,0,4.936,0.805,6.301,2.205
                		c1.19,1.26,1.96,2.87,1.96,5.04c0,2.171-0.7,3.641-1.891,4.901c-0.734,0.77-1.785,1.364-2.975,1.75l4.971,10.921H609.537z
                		 M604.602,30.948h-6.616v8.716h6.616c2.94,0,5.04-1.19,5.04-4.341S607.542,30.948,604.602,30.948z'/>
                	<path d='M632.917,50.865c-1.715,1.681-4.375,2.485-7.036,2.485c-3.01,0-5.425-0.84-7.105-2.38c-1.575-1.471-2.66-3.605-2.66-5.951
                		h3.255c0,1.471,0.735,2.94,1.751,3.921c1.12,1.085,3.01,1.54,4.76,1.54c1.891,0,3.501-0.386,4.621-1.436
                		c0.77-0.7,1.26-1.575,1.26-2.905c0-1.925-1.225-3.535-4.165-3.99l-3.921-0.595c-3.71-0.561-6.615-2.626-6.615-6.581
                		c0-1.855,0.84-3.641,2.17-4.9c1.715-1.61,3.921-2.45,6.511-2.45c2.415,0,4.796,0.805,6.44,2.38c1.506,1.436,2.311,3.221,2.381,5.32
                		h-3.256c-0.07-1.225-0.524-2.31-1.225-3.115c-0.945-1.085-2.45-1.715-4.376-1.715c-1.785,0-3.325,0.49-4.41,1.715
                		c-0.63,0.735-1.016,1.575-1.016,2.695c0,2.24,1.855,3.256,3.711,3.501c1.4,0.175,2.765,0.42,4.13,0.63
                		c4.131,0.595,6.896,3.115,6.896,7.035C635.018,48.135,634.142,49.675,632.917,50.865z'/>
                </g>
                </svg>"); /* I'm so sorry but I had to add the svg inline due to different environment having different file structure so I can't use relative path.  And for some reason, absolute path doesn't work either. */
                background-size: 300px 100px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                // background-size: 100px 82px;
            }
            .search {
                display: block;
                position: absolute;
                left: 31%;
                bottom: 3.5px; //we are not crazy. for some reason, the .5 solves the different pixel interpretation between chrome and firefox.
                height: $dosa-banner-height;
                vertical-align: top;
                background-color: $purple;
                z-index: 200;
                padding: 0 20px 0 10px;
                input[type='search'], input[type='text'] {
                    position: relative;
                    top: 10px;
                    -webkit-appearance: none;
                    height: 2em;
                    border: none;
                    border-radius: 1px;
                    width: 150px;
                }
                button[type='submit'] {
                    height: 2em;
                    border: none;
                    border-radius: 1px;
                    position: relative;
                    top: 10px;
                    background-color: #C0C0C0;
                }

            }
            .dosa-banner-navigation {
                $nav-width: 6.5em;
                position: absolute;
                top: 0;
                right: 0;
                // right: 20px;
                height: 2em;
                background-color: $bg-color;
                z-index: 1;
                .section {
                    position:absolute;
                    right: 0;
                    top: 2px;
                    width: $nav-width * 4;
                    // @include user-select(none);
                    &.closed {
                        h2 {
                            background-color: $purple;
                        }
                        ul {
                            display: none;
                        }
                    }

                    html.allow-hover &:hover {
                        h2 {
                            // background-color: desaturate($purple, 30%);
                        }

                        ul {
                            display: block;
                        }
                    }

                    h2 {
                        position: absolute;
                        top: 6px;
                        display: inline-block;
                        width: $nav-width;
                        background-color: desaturate($purple, 30%);
                        font-size: 0.9em;
                        height: 2.2em;
                        line-height: 2.2em;
                        text-align: center;
                        // text-transform: uppercase;
                        color: white;
                        z-index: 80;
                    }
                    ul {
                        position: absolute;
                        top: 3em;
                        background: $purple;
                        // background-color: desaturate($purple, 40%);
                        list-style: none;
                        margin: 0;
                        margin-top: 6px;
                        width: 80%;
                        z-index: 70;
                        padding: 10px 8px;
                        // padding: 10px 0;
                        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
                        font-family: $text-font;
                        font-size: 0.9em;
                        li {
                            &:last-child {
                                border: none;
                            }
                            &:nth-child(even) {
                                a {
                                    // background-color: rgba(255, 255, 255, 0.08);
                                }
                            }
                            margin: 7px 0;
                            //padding: 0 10px;
                            a {
                                padding: 2px 10px;
                                display: block;
                                text-decoration: none;
                                color: white;
                                font-weight: 300;
                                &:hover {
                                    color: $dillo;
                                }
                                // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
                            }
                            html.allow-hover & a:hover {
                                // background-color: $purple;
                            }
                        }
                    }
                    &.departments {
                        &:hover h2 {
                            // background-color: desaturate($purple, 30%);
                        }
                        h2 {
                            left: 0;
                        }
                        ul {
                            -moz-column-count:2; /* Firefox */
                            -webkit-column-count:2; /* Safari and Chrome */
                            column-count:2;
                            -moz-column-gap:40px; /* Firefox */
                            -webkit-column-gap:40px; /* Safari and Chrome */
                            column-gap:40px;
                            width: 150%;
                            right: 0;
                        }
                        li {
                            -webkit-column-break-inside: avoid;
                            -moz-column-break-inside: avoid;
                            column-break-inside: avoid;
                        }
                    }
                    &.topics {
                        &:hover h2 {
                            // background-color: desaturate($purple, 30%);
                        }
                        h2 {
                            left: $nav-width;
                        }
                    }
                    &.community {
                        &:hover h2 {
                            // background-color: desaturate($purple, 30%);
                        }
                        h2 {
                            left: $nav-width * 2;
                        }
                    }
                    &.nuhelp {
                        h2 {
                            left: $nav-width * 3;
                            background-color: $nuhelp-background;
                        }
                        ul {
                            right: 0;
                            background-color: desaturate($nuhelp-background, 30%);
                            li {
                                html.allow-hover & a:hover {
                                    color: $purple;
                                }
                            }
                        }
                    }
                }
            }
        }
        .northwestern-title {
            @include text-font;
            // text-transform: lowercase;
            font-size: 1.2em;
            font-weight: 400;
            // color: $purple;
            color: $bg-color;
            position: absolute;
            right: 0;
            top: 0;
            margin: -5px 5px 0 10px;
        }
        .inner-right {
            background-color: $dosa-banner-background-color;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 60%;
            height: 2em;
            z-index: 0;
        }
    }

    .mobile-header {
        display: none;
    }

}

@media #{$medium} {
    .dosa-banner {
        .inner {
            .search {
                input[type='search'] {
                    width: 55px;
                    @include transition(width 0.5s);
                    &:focus {
                        width: 120px;
                    }
                }
            }
        }
    }
}

@media #{$small} {
    $logo-width: 6.5em;
    $button-width: 2em;
    .mobile-header {
        // position: fixed;
        position: absolute;
        top: 0;
        width: 100%;
        height: 3.66em;
        z-index: 200;
        background-color: $purple;
        height: 0;
        @include transition(height .2s cubic-bezier(0.55, 0.085, 0.68, 0.53));
        html.show-top & {
            height: 3em;
        }
        @include display(flex);
        @include flex-direction(row);
        .button-container {
            // width: $button-width;
            position: relative;
            height: 100%;
            button {
                border: 0 solid rgb(65, 33, 87);;
                padding: 0;
                color: #bbb;
                margin: 0;
                height: 100%;
                width: $button-width;
                background-color: rgb(65, 33, 87);;
                font: italic 150% FontAwesome;
                span {
                    width: 1px;
                    height: 1px;
                    overflow: hidden;
                    position: absolute;
                }
                i {
                    margin: 0 5px;
                    display: none;
                    html.show-top & {
                        display: inline;
                    }
                }
            }
        }

        .logo-container {
            height: 100%;
            background-image: url(../img/purple-background.png);
            @include flex(1);
            display: block;
            opacity: 0;
            position: relative;
            top: -4.6em;
            // @include transition(.2s top .2s cubic-bezier(0.55, 0.085, 0.68, 0.53));

            html.show-top & {
                opacity: 1;
                top: 0;
                @include transition(.1s opacity .1s cubic-bezier(0.55, 0.085, 0.68, 0.53));
            }
            .logo {
                height: 4.6em;
                background-repeat: no-repeat;
                display: block;
                width: $logo-width;
                font-weight: 300;
                text-transform: uppercase;
                // background-image: url(../img/header-logo.png);
                // background-size: 100%;
                // color: transparent;
                margin-left: auto;
                margin-left: -webkit-calc( 50% - #{$logo-width/2} - #{$button-width/2} - 5px);
                margin-left: calc( 50% - #{$logo-width/2} - #{$button-width/2} - 5px);
                text-align: center;
            }
        }
    }
    .dosa {
        position:absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: $drawer-width;
        // min-height: 100%;
        background-color: $dosa-background-color;

        // @include display(flex);
        // @include flex-direction(column);
        -webkit-overflow-scrolling: touch;
        overflow: auto;
        .dosa-container {
            position: relative;
            min-height: 100%;
            .dosa-logo {
                display: none;
            }
            .search {
                $marginside: 10px;
                width: $drawer-width - 20px;
                -webkit-appearance: none;
                height: 3em;
                border: 0;
                border-radius: 5px;
                margin: 8px 10px 0 10px;
                padding: 0 10px;
            }
            .dosa-fontsize {
                display: none;
            }
            .dosa-navigation {
                padding-bottom: $extra-container-height;
                .section {
                    $padding: 5px;
                    width: calc(100% - $padding * 2);
                    margin: 10px 0;
                    &.nuhelp {

                        h2 {
                            background-color: $nuhelp-background;
                        }
                        ul {
                            background-color: desaturate($nuhelp-background, 40%);
                        }
                    }
                    &.closed h2 {
                        width: $drawer-width - 70px;
                        &:before {
                            content: "\F105";
                            font-family: FontAwesome;
                        }
                    }
                    h2 {
                        padding: 0;
                        .inner {
                            display:inline-block;
                            $padding: 10px;
                            padding: $padding;
                            text-transform: uppercase;
                        }

                        display: block;
                        //width: calc(100% - $padding * 2) ;
                        font-size: 1.5em;
                        margin: 0;
                        color: $dosa-heading-text-color;
                        background-color: $dosa-heading-background-color;
                        &:before {
                            padding: 0 10px;
                            content: "\F107";
                            border-right: 1px solid white;
                            font-family: FontAwesome;
                        }
                    }

                    &.closed ul {
                        height: 0;
                    }
                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        height: auto;
                        overflow: hidden;
                        background-color: $dosa-list-background-color;
                        li {
                            margin: 0;
                            &:nth-child(even) {
                                a {
                                    background-color: rgba(255, 255, 255, 0.08);
                                }
                            }
                            a {
                                display:block;
                                padding: 5px 0 5px 20px;
                                color: $dosa-main-text-color;
                                text-decoration: none;
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
            .dosa-extra {
                position: absolute;
                bottom: -4em;
                height: $extra-container-height;
                .nu-logo {
                    width: 60%;
                    margin: 0 auto;
                    margin-bottom: 10px;
                    img {
                        width: 100%;
                    }
                }
                .extra-navigation {
                    a {
                        text-align: center;
                        display: inline-block;
                        width: 45%;
                        padding: 5px 5px;
                        margin-bottom: 2px;
                        background-color: $teal;
                        font-weight: 300;
                        color: white;
                    }
                }
            }
        }
    }
    .dosa-banner {
        display: none;
    }

}
