@import 'sass/global/fonts';
@import 'sass/global/colors';
@import 'sass/content/generic-style';

.mceContentBody {
	background-color: $bg-color;
	font-size: 1.1em;
	* {
		font-family: $text-font;
	}

	@include generic-content-style;

	h1, h4, h5, h6 {
		text-decoration: line-through;
	}
}