@import url(//fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(//fonts.googleapis.com/css?family=Neuton:300,300italic);
.mceContentBody {
  background-color: #eff1f1;
}
.mceContentBody a {
  text-decoration: underline;
  color: #006e8b;
}
.mceContentBody h2 {
  font-weight: 300;
  font-size: 1.65em;
  text-transform: none;
  margin: 0.3em 0;
  font-family: 'Oswald', sans-serif;
  color: #5a308c;
}
.mceContentBody h3 {
  font-weight: 300;
  font-size: 1.3em;
  text-transform: none;
  color: #12635c;
  margin: 0.3em 0;
  font-family: 'Oswald', sans-serif;
}
.mceContentBody p {
  margin: 0.7em 0;
  padding: 0;
  font-family: "Neuton", serif;
}
.mceContentBody h1 {
  text-decoration: line-through;
}
.mceContentBody h2 {
  margin: 5px 0;
  font-size: 52.8 px;
}
.mceContentBody h3 {
  margin: 5px 0;
  font-size: 41.6 px;
}
.mceContentBody p {
  margin: 10px 0;
  font-size: 35.2 px;
}
