@import url(//fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(//fonts.googleapis.com/css?family=Lora:400,700);
.mceContentBody {
  background-color: #eff1f1;
  font-size: 1.1em;
}
.mceContentBody * {
  font-family: "Lora", serif;
}
.mceContentBody table.sa-table {
  font-family: "Lora", serif;
  font-size: 0.95em;
  font-weight: 200;
  width: 100%;
  margin: 0;
}
.mceContentBody table.sa-table tbody th {
  font-family: "Oswald", sans-serif;
  color: white;
  font-weight: 300;
  padding: 10px;
  text-align: left;
  background-color: #3b1151;
}
.mceContentBody table.sa-table tbody th .table-dropdown {
  display: none;
}
.mceContentBody table.sa-table tbody tr:nth-child(2n) {
  background-color: #cacaca;
}
.mceContentBody table.sa-table tbody tr td {
  padding: 10px;
  vertical-align: text-top;
}
.mceContentBody a {
  text-decoration: underline;
  color: #006e8b;
}
.mceContentBody h2 {
  font-weight: 300;
  font-size: 1.65em;
  text-transform: none;
  margin: 0.3em 0;
  font-family: 'Oswald', sans-serif;
  color: #5a308c;
}
.mceContentBody h3 {
  font-weight: 300;
  font-size: 1.3em;
  text-transform: none;
  color: #12635c;
  margin: 0.3em 0;
  font-family: 'Oswald', sans-serif;
}
.mceContentBody p {
  margin: 0.7em 0;
  padding: 0;
  font-family: "Lora", serif;
}
.mceContentBody h1, .mceContentBody h4, .mceContentBody h5, .mceContentBody h6 {
  text-decoration: line-through;
}
.mceContentBody a[target=_blank], .mceContentBody a[target=blank] {
  text-decoration: line-through;
}
