@mixin generic-content-style {
	table.sa-table {
		@include text-font;
		width: 100%;
		margin: 0;
		tbody {
			th {
				@include display-font;
				.table-dropdown {
					display: none;
				}
				color: white;
				font-weight: 300;
				padding: 10px;
				text-align: left;
				background-color: $purple;
			}
			tr {
				&:nth-child(2n) {
					background-color: lighten($gray, 30%);
				}
				td {
					padding: 10px;
					vertical-align: text-top;

				}
			}
		}
	}
	a {
		text-decoration: underline;
		color: $blue;
	}
	h2 {
	    font-weight: 300;
	    font-size: 1.65em;
	    text-transform: none;
	    margin: 0.3em 0;
	    font-family: 'Oswald', sans-serif;
	    color: #5a308c;
	}

	h3 {
	    font-weight: 300;
	    font-size: 1.3em;
	    text-transform: none;
	    color: darken($aqua, 20%);
	    margin: 0.3em 0;
	    font-family: 'Oswald', sans-serif;
	}

	p {
	    margin: 0.7em 0;
	    padding: 0;
	    font-family: $text-font;
	}
}

@mixin generic-content-style-small {
	table.sa-table {
		position: relative;
		tbody {
			tr {
				th {
					position: relative;
					&.table-category:after {
						position: absolute;
						right: 10px;
						top: 5px;
						@include icon(107);
						font-size: 2em;
						z-index: 0;
					}

					.table-dropdown {
						display: block;
						position: absolute;
						background-color: $purple;
						top: 0;
						left: 0;
						right: 0;
						z-index: 1;
						.dropdown-category {
							cursor: pointer;
							padding: 5px 10px 5px 10px;
							&:first-child {
								padding-top: 10px;
							}
							&:active {
								background-color: green;
							}
							&:hover {
								background-color: darken($purple, 5%);
							}
						}
						.close-button {
							position: absolute;
							right: 0;
							top: 0;
							padding: 5px 10px;
							&:after {
								@include icon(106);
								font-size: 2em;
							}
						}
						
						&.closed {
							display: none;
						}
					}
				}
			}
			tr {
				td {
				}
			}
		}
	}
}