@mixin generic-content-style {
	table.sa-table {
		@include text-font;
		width: 100%;
		margin: 0;
		tbody {
			th {
				@include display-font;
				.table-dropdown {
					display: none;
				}
				color: white;
				font-weight: 300;
				padding: 10px;
				text-align: center;
				@include dept-colors-main(background-color);
			}
			th[scope=row] {
				@include dept-colors-secondary(background-color);
            text-align: left;
			}
			tr {
				&:nth-child(2n) {
					background-color: lighten($gray, 40%);
				}
				td {
					padding: 10px;
					vertical-align: text-top;

				}
			}
		}
	}
	a {
		text-decoration: underline;
		color: $blue;
	}

	a.external {
		&:after {
			content: '\f08e';
			font-family: 'FontAwesome';
			font-size: 0.7em;
			// padding-left: 5px;
		}
	}

	a[href*="northwestern.edu"] {
		&:after {
			content: '';
		}
	}
	h2 {
	    font-weight: 300;
	    font-size: 1.65em;
	    text-transform: none;
	    margin: 0.3em 0;
	    font-family: 'Oswald', sans-serif;
	    @include dept-colors-main(color);
	}

	h3 {
	    font-weight: 300;
	    font-size: 1.3em;
	    text-transform: none;
	    color: darken($gray, 10%);
	    margin: 0.3em 0;
	    font-family: 'Oswald', sans-serif;
	}

	p {
	    margin: 0.7em 0;
	    padding: 0;
	    line-height: 1.4em;
	    font-family: $text-font;
	}

	blockquote {
		position: relative;
		left: 5px;
		@include dept-colors-main(box-shadow, -5px 5px 0px);
		margin: 10px 0;
		padding: 10px 0;
		width: 98%;
		width: calc(100% - 5px);
		width: -webkit-calc(100% - 5px);
		background-color: lightgray;
		p {
			display: block;
			margin: 0 20px;
			margin-top: 5px;
			margin-left: 40px;
			font-style: italic;
			@include dept-colors-secondary(color);
		}

		&:before {
			content: '';
			position: absolute;
			top: -20px;
			right: 40px;
			border-width: 10px;
			border-style: solid;
			border-color: lightgray;
			border-left: 10px solid transparent;
			border-top: 10px solid transparent;
			border-right: 10px solid transparent;
		}

		&:after {
			content: '“';
			font-size: 5em;
			position: absolute;
			top: 0;
			left: 5px;
			@include dept-colors-main(color);
		}
	}
	// .column-list {
	// 	&.column-list-3 {
	// 		@include column-count(3);
	// 	}
	// }
}

@mixin generic-content-style-small {
	table.sa-table {
		position: relative;
		tbody {
			tr {
				th {
					position: relative;
					&.table-category:after {
						position: absolute;
						right: 10px;
						top: 5px;
						// @include icon("107");
						content: "\F107";
						font-family: FontAwesome;
						font-size: 2em;
						z-index: 0;
					}

					.table-dropdown {
						display: block;
						position: absolute;
						background-color: $purple;
						top: 0;
						left: 0;
						right: 0;
						z-index: 1;
						.dropdown-category {
							cursor: pointer;
							padding: 5px 10px 5px 10px;
							&:first-child {
								padding-top: 10px;
							}
							&:active {
								background-color: green;
							}
							&:hover {
								background-color: darken($purple, 5%);
							}
						}
						.close-button {
							position: absolute;
							right: 0;
							top: 0;
							padding: 5px 10px;
							&:after {
								// @include icon("106");
								content: "\F106";
								font-family: FontAwesome;
								font-size: 2em;
							}
						}

						&.closed {
							display: none;
						}
					}
				}
			}
			tr {
				td {
				}
			}
		}
	}
}
