@mixin generic-content-style {
	table.sa-table {
		@include text-font;
		width: 100%;
		margin: 0 20px;
		tbody {
			th {
				@include display-font;
				color: white;
				font-weight: 300;
				padding: 10px;
				text-align: left;
				background-color: $purple;
			}
			tr {
				&:nth-child(2n) {
					background-color: lighten($gray, 30%);
				}
				td {
					padding: 10px;
					vertical-align: text-top;

				}
			}
		}
	}
	a {
		text-decoration: underline;
		color: $blue;
	}
	h2 {
	    font-weight: 300;
	    font-size: 1.65em;
	    text-transform: none;
	    margin: 0.3em 0;
	    font-family: 'Oswald', sans-serif;
	    color: #5a308c;
	}

	h3 {
	    font-weight: 300;
	    font-size: 1.3em;
	    text-transform: none;
	    color: darken($aqua, 20%);
	    margin: 0.3em 0;
	    font-family: 'Oswald', sans-serif;
	}

	p {
	    margin: 0.7em 0;
	    padding: 0;
	    font-family: $text-font;
	}
}