.basic-container {
	@include text-font;
	.basic-image-container {
		float: right;
		width: 35%;
		margin-left: 20px;
		.basic-image-item {
			margin-bottom: 30px;
			img {
				width: 100%;
			}

			.basic-image-caption {
				@include display-font;
				font-weight: 300;
				font-size: .8em;
				margin-top: 5px;
				padding: 5px;
				p {
					$text-bg-color: darken($rock, 20%);
					text-transform: uppercase;
					margin: 0;
					display: inline;
					padding: 2px 0;
					background-color: $text-bg-color;
					color: white;
					line-height: 2em;
					box-shadow: 0.5em 0 0 $text-bg-color, -0.5em 0 0 $text-bg-color; //line-break spacing on background
				}
			}
		}

		a.basic-image-item{
			display: block;
			&:hover {
				img{
					box-shadow: -4px 4px 0 $teal;
				}
			}
			img {
				box-shadow: -4px 4px 0 gray;
			}
			.basic-image-caption {
				p {
					text-decoration: underline;
					color: white;
					background-color: $teal;
					box-shadow: 0.5em 0 0 $teal, -0.5em 0 0 $teal;
				}
			}
		}
	}
	.basic-text-container {
		overflow: hidden;
		margin-left: 20px;
		margin-right: 20px;
		@include generic-content-style;
		.before-text {
			margin-bottom: 10px;
		}
		.after-text {
			margin-top: 10px;
		}
		.map-wrapper {
			width: 100%;
			#featureListPanel {
				display: none;
			}
		}
		.video-wrapper {
			position: relative;
			width: 80%;
			padding-bottom: 47.25%;
			margin: 30px auto;
			// padding-bottom: 56.25%;
			height: 0; 
			overflow: hidden;
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

	}
}

@media #{$small} {
	.basic-container {
		.basic-image-container {
			float: none;
			width: 100%;
			margin: 0;
			position:relative;
			user-select: none;
			&.show-arrow-overlay {
				&:after {
					opacity: 0.5;
				}
			}

			&:after {
				@include transition(opacity 0.5s);
				position: absolute;
				z-index: 4;
				height: 3em;
				width: 100%;
				font-family: $display-font;
				// content: '\f07e';
				content: '← SWIPE →';
				font-size: 3em;
				line-height: 3em;
				text-align: center;
				margin: 0 auto;
				opacity: 0;
				background: rgba(255, 255, 255, 0.8);
				top: 0;
			}
			.basic-image-wrapper {
				a.basic-image-item {
					display:inline-block;
				}
				.basic-image-item {
					display: inline-block;
					margin-bottom: 0;
					overflow:hidden;
					img {
					}
					.basic-image-caption {
						position: relative;
						top: -30px;
						text-align: center;
						p {
						}
					}
				}
			}
		}
		.basic-text-container {
			@include generic-content-style-small;
			.video-wrapper {
				width: 95%;
				padding-bottom: 55.25%;
				margin: 15px 0;
			}
		}
	}
}