.collapsable-container {
	.collapsible-text {
		@include text-font;
		margin-left: 20px;
		margin-bottom: 10px;
	}
	.collapsable-item {
		$plus: "067";
		// $plus: 196;

		$minus: "068";
		// $minus: 147;
		margin-bottom: 10px;
		&.closed {
			.collapsable-title:before {
				// @include icon($plus);
				content: "\F067";
				font-family: FontAwesome;
			}
			.collapsable-content {
				display: none;
			}
		}
		.collapsable-title:before {
			// @include icon($minus);
			content: "\F068";
			font-family: FontAwesome;
		}

		.collapsable-title {
			text-transform: uppercase;
			font-weight: 300;
			font-size: 1.05em;
			line-height: 1.6em;
			padding-left: 15px;
			// padding-bottom: 15px;
			&:before {
				@include dept-colors-main(color);
				// color: $department-color-1;
				padding-right: 10px;
			}
			&:after {
				content: "";
				width: 100%;
				border-bottom: 1px dotted rgba(20, 20, 20, 0.5);
				display: block;
			}
		}
		.collapsable-content {
			@include text-font;
			padding: 20px;
			padding-top: 15px;
			a {
				text-decoration: underline;
				color: $blue;
			}
		}
	}
}
