.detail-container {
	.detail-main {
		margin-left: 20px;
		padding-right: 20px;
		overflow: hidden;
		@include text-font;
		@include generic-content-style;
	}
	.detail-aside {
		float: right;
		width: 35%;
		padding-bottom: 60px;
		border-left: 1px solid gray;
		.detail-item {
			@include card;
			margin: 0 15px;
			.detail-img {
				width: 100%;
			}
			.detail-desc {
				padding: 10px;
			}
		}
	}
}

@media #{$small} {
	.detail-container {
		.detail-main {

		}
		.detail-aside {
			border: none;
			float: none;
			width: 90%;
			width: calc(100% - 30px);
			width: -webkit-calc(100%-30px);
			margin-left: 15px;
			padding-bottom: 10px;
			.detail-item {

				.detail-img {

				}
				.detail-desc {
				}
			}
		}
	}
}