$anchor-icon: 18e;

.stack-container {
	@include prefix(column-count, 3);
	@include prefix(column-gap, 0);
	@include prefix(column-fill, 0);
	padding-right: 20px;
	text-overflow: none;
	a.stack-item {
		display:block;
		color: black;
		&:hover {
			-ms-filter: opacity(75%);
			-webkit-filter: opacity(75%);
			filter: opacity(75%);
		}
		.stack-text {
			position: relative;
		}
		.stack-text:before {
			position: absolute;
			right: 15px;
			@include icon($anchor-icon);
			font-size: 20px;
			font-weight: 20px;
		}
	}
	.stack-item {
		@include prefix(column-break-inside, avoid);
		@include card;
		margin-left: 10px;
		margin-bottom: 10px;
		.stack-image {
			img {
				width: 100%;
			}
		}
		.stack-text {
			padding: 10px;
		}
	}
}

@media #{$medium} {
	.stack-container {
		@include prefix(column-count, 2);
	}
}

@media #{$small} {
	.stack-container {
		@include prefix(column-count, 1);
	}
}