.sa-table {
	@include text-font;
	width: 100%;
	margin: 0 20px;
	thead {
		tr {
			th {
				@include display-font;
				color: white;
				font-weight: 300;
				padding: 10px;
				text-align: left;
				background-color: $purple;
			}
		}
	}
	tbody {
		tr {
			&:nth-child(2n) {
				background-color: lighten($gray, 30%);
			}
			td {
				padding: 10px;
				vertical-align: text-top;

			}
		}
	}
}