$footer-background-color: $purple;

@mixin detail-spacing {
	float: left;
	$padding: 20px;
	padding: 0 $padding;
	width: 23%;
	width: calc(25% - #{$padding * 2});
	width: -webkit-calc(25% - #{$padding * 2});
}
.footer {
	clear: both;
	background-color: $footer-background-color;
	margin-top: 15px;
	&.closed {
		.inner {
			.arrow-button {
				&:after {
					@include icon(106);
				}
			}
			.details {
				position: absolute;
				height: 1px;
				overflow: hidden;
				z-index: -1;
			}
		}
	}
	.inner {

		position: relative;
		a {
			color: white;
		}
		.arrow-button {
			display: none;
			position: absolute;
			top: 0;
			right: 0;
			height: 40px;
			width: 70px;
			color: white;
			z-index: 10;
			font-size: 1.7em;
			text-align: center;
			cursor: pointer;
			&:hover {
				color: $teal;
			}
			&:after {
				@include icon(107);
			}
		}
		.details {
			$details-padding-side: 20px;
			$details-padding-vertical: 20px;
			@include text-font;
			font-size: 0.8em;
			position: relative;
			// display: inline-block;
			color: white;
			padding: $details-padding-vertical 0; //$details-padding-side;
			vertical-align: top;
			// height: 95%;
			// height: calc(100% - #{$details-padding-vertical * 2});
			// height: -webkit-calc(100% - #{$details-padding-vertical * 2});
			line-height: 1.6em;

			max-width: $main-area-max-width;
			width: 100%;
			margin: 0 auto;
			overflow: auto;
			// width: 95%;
			// width: calc(100% - #{$details-padding-side * 2});
			// width: -webkit-calc(100% - #{$details-padding-side * 2});
			// margin-top: 30px;

			// width: 100%;

			.divider {
				position: absolute;
				display: inline-block;
				width: 1px;
				height: 75%;
				background-color: rgba(white, 0.3);
			}
			.social {
				display: none;
			}
			.department-name {
				@include detail-spacing;
				vertical-align: top;
				font-size: 1em;
				display: inline-block;
				// width: calc(45% - 20px);
				// background-color: red;
			}
			.address {
				@include detail-spacing;
				clear:none;
				// float:none;
				vertical-align: top;
				// width: calc(45% - 20px);
				display: inline-block;
				font-size: 1em;
				word-wrap: break-word;
				overflow-wrap: break-word;
				a {
					color: white;
				}
			}
			.dosa-links {
				@include detail-spacing;
				vertical-align: top;
				display: inline-block;
				// float: none;
			}
			.logo {
				@include detail-spacing;
				vertical-align: top;
				// float: none;
				display: inline-block;
				text-align: center;
				img {
					display: inline;
					width: 60%;
					margin-top: 5px;
				}
			}
		}
		.links {
			position: relative;
			min-height: 40px;
			padding-bottom: 1px;
			text-align: center;
			border-top-width: 3px;
			border-top-style: double;
			border-top-color: rgba(255, 255, 255, 0.5);
			@include text-font;
			font-size: 1em;
			z-index: 5;
			.social {
				// display: block;

				position: absolute;
				top: 0;
				right: 0;
				margin-right: 70px;
				a {
				    display: inline-block;
				    color: transparent;
				    width: 2em;
				    height: 2em;
				    margin-top: 5px;
				    margin-left: 10px;
				    &:first-child {
				        margin-left: 0;
				    }
				    &:before {
				        font-family: FontAwesome;
				        color: white;
				        font-size: 2em;
				    }
				    // &.facebook:before {
				    //     content: "\f082";
				    // }
				    // &.twitter:before {
				    //     content: "\f081";
				    // }
				}
				a[href*=".twitter.com"]:before {
					content: "\f081";
				}
				a[href*=".facebook.com"]:before {
					content: "\f082";
				}
				a[href*=".pinterest.com"]:before {
					content: "\f0d3";
				}
				a[href*=".linkedin.com"]:before {
					content: "\f08c";
				}
				a[href*=".vimeo.com"]:before {
					content: "\f16a";
				}
				a[href*=".youtube.com"]:before {
					content: "\f16a";
				}
			}
			ul {
				display: inline-block;
			    padding: 0;
			    margin: 10px;
			    li {
			        display: inline-block;
			        border-right: 1px solid white;
			        a {
			            color: white;
			            font-weight: 300;
			            text-decoration: none;
			            padding: 10px;
			        }
			    }
			    li:last-child {
			        border-right: none;
			    }
			}
		}
	}
}
@media #{$medium} {
	.footer {
		.inner {
			.links {
				font-size: 0.8em;
				.social {
					// font-size: 0.8em;
				}
			}
			.logo {
				img {
					width: 90%;
				}
			}
		}
	}
}
@media #{$small} {
.footer {
	margin-top: 0;
	&.closed {
		.inner {
			.arrow-button {
				&:after {
				}
			}
			.details {
			}
		}
	}
	.inner {
		margin: 0 20px;
		.arrow-button {
			&:after {
			}
		}
		.details {
			display: inline-block;
			margin-top: 0;
			.divider {
				display: none;
			}
			.social {
			}
			.department-name {
				display: block;
				width: 100%;
				margin-bottom: 15px;
				padding: 0;
			}
			.address {
				// display: block;
				width: 100%;
				padding: 0;
				display: none;
				li {
					display: inline-block;
					a {

					}
				}

			}
			.dosa-links {
				display: none;
				padding: 0;
			}
			.logo {
				display: block;
				width: 50%;
				margin: 0 auto;
				position: relative;
				top: 5px;
				padding: 0;

				img {
				}
			}
		}
		.links {
			text-align: right;
			.social {

			}
			ul {
				display: none;
			    li {
			        a {
			        }
			    }
			    li:last-child {
			    }
			}
		}

	}
}
}
@media #{$x-large} {
.footer {
	.inner {
		.arrow-button {
			&:after {
			}
		}
		.details {
			.divider {
			}
			.social {

			}
			.department-name {
				@include detail-spacing;
				// float: none;
			}
			.address {
				@include detail-spacing;
				// float: none;
				clear: none;
				a {
				}
			}
			.dosa-links {
			}
			.logo {
				img {
				}
			}
		}
	}
}
}
