// $purple: #732f7e;
// $purple: lighten(#4E3872, 6%);
$purple: #412157;
$gray: rgb(133, 128, 132);
$teal: #317894;
$bg-color: #eff1f1;
$aqua: #22B9AD;

$dept-purple: #5c2483;
$dept-darkpurple: #3f1457;
$dept-blue: #006e8b;
$dept-green: #afbc5a;
$dept-teal: #1cb3ab;

$department-color-1: $aqua;

@mixin dept-colors-main {
	.stamp.dept-color-1 ~ .viewport & {
		background-color: $dept-purple;
	}
	.stamp.dept-color-2 ~ .viewport & {
		background-color: $dept-blue;
	}
	.stamp.dept-color-3 ~ .viewport & {
		background-color: $dept-green;
	}
	.stamp.dept-color-4 ~ .viewport & {
		background-color: $dept-teal;
	}
}

@mixin dept-colors-main-darken {
	.stamp.dept-color-1 ~ .viewport & {
		background-color: darken($dept-purple, 15%);
	}
	.stamp.dept-color-2 ~ .viewport & {
		background-color: darken($dept-blue, 15%);
	}
	.stamp.dept-color-3 ~ .viewport & {
		background-color: darken($dept-green, 15%);
	}
	.stamp.dept-color-4 ~ .viewport & {
		background-color: darken($dept-teal, 15%);
	}
}


@mixin dept-colors-secondary {
	.stamp.dept-color-1 ~ .viewport & {
		background-color: $dept-blue;
	}
	.stamp.dept-color-2 ~ .viewport & {
		background-color: $dept-purple;
	}
	.stamp.dept-color-3 ~ .viewport & {
		background-color: $dept-purple;
	}
	.stamp.dept-color-4 ~ .viewport & {
		background-color: $dept-purple;
	}
}
