// $purple: #732f7e;
// $purple: lighten(#4E3872, 6%);
$purple: #412157;
$gray: rgb(133, 128, 132);
$teal: #317894;
$bg-color: #eff1f1;
$aqua: #22B9AD;
$blue: #006e8b;

$dept-purple: #5c2483;
$dept-darkpurple: #3f1457;
$dept-blue: #006e8b;
$dept-green: #afbc5a;
$dept-teal: #1cb3ab;

$department-color-1: $aqua;

@mixin dept-colors-main($prop, $before:null, $after:null) {
	.stamp.dept-color-1 ~ .viewport & {
		#{$prop}: $before $dept-purple $after;
	}
	.stamp.dept-color-2 ~ .viewport & {
		#{$prop}: $before $dept-blue $after;
	}
	.stamp.dept-color-3 ~ .viewport & {
		#{$prop}: $before $dept-green $after;
	}
	.stamp.dept-color-4 ~ .viewport & {
		#{$prop}: $before $dept-teal $after;
	}
}

@mixin dept-colors-main-darken($prop, $value: 15%) {
	.stamp.dept-color-1 ~ .viewport & {
		#{$prop}: darken($dept-purple, $value);
	}
	.stamp.dept-color-2 ~ .viewport & {
		#{$prop}: darken($dept-blue, $value);
	}
	.stamp.dept-color-3 ~ .viewport & {
		#{$prop}: darken($dept-green, $value);
	}
	.stamp.dept-color-4 ~ .viewport & {
		#{$prop}: darken($dept-teal, $value);
	}
}

@mixin dept-colors-main-lighten($prop, $value: 15%) {
	.stamp.dept-color-1 ~ .viewport & {
		#{$prop}: lighten($dept-purple, $value);
	}
	.stamp.dept-color-2 ~ .viewport & {
		#{$prop}: lighten($dept-blue, $value);
	}
	.stamp.dept-color-3 ~ .viewport & {
		#{$prop}: lighten($dept-green, $value);
	}
	.stamp.dept-color-4 ~ .viewport & {
		#{$prop}: lighten($dept-teal, $value);
	}
}


@mixin dept-colors-secondary($prop, $before:null, $after:null) {
	.stamp.dept-color-1 ~ .viewport & {
		#{$prop}: $before $dept-blue $after;
	}
	.stamp.dept-color-2 ~ .viewport & {
		#{$prop}: $before $dept-purple $after;
	}
	.stamp.dept-color-3 ~ .viewport & {
		#{$prop}: $before $dept-purple $after;
	}
	.stamp.dept-color-4 ~ .viewport & {
		#{$prop}: $before $dept-purple $after;
	}
}

@mixin dept-colors-secondary-lighten($prop, $value: 15%) {
	.stamp.dept-color-1 ~ .viewport & {
		#{$prop}: lighten($dept-blue, $value);
	}
	.stamp.dept-color-2 ~ .viewport & {
		#{$prop}: lighten($dept-purple, $value);
	}
	.stamp.dept-color-3 ~ .viewport & {
		#{$prop}: lighten($dept-purple, $value);
	}
	.stamp.dept-color-4 ~ .viewport & {
		#{$prop}: lighten($dept-purple, $value);
	}
}
