$presidential: #5C2483;
$homecoming: #9560A4;
$primal: #3B1151;
$dillo: #46BAB8;
$deering: #7EA641;
// $deering: #00A67C;
$lakefill: #007B9A;
$rock: #7E7D7E;
$university: #C1C0C0;

$newPurple: #4E2A84;
$newTeal: #007FA4;
$newRed: #D85820;
// $purple: #732f7e;
// $purple: lighten(#4E3872, 6%);

// $purple: #412157;
$purple: $newPurple;
$gray: $rock;
$teal: #317894;
$bg-color: #eff1f1;
// $bg-color: white;
$aqua: #22B9AD;
$blue: #006e8b;

$dept-purple: $primal;
$dept-lightpurple: $presidential;
$dept-blue: #006e8b;
$dept-green: $presidential;
$dept-teal: $dillo;

$department-color-1-main: $newPurple;
$department-color-1-secondary: $newTeal;
$department-color-2-main: #006e8b;
$department-color-2-secondary: $primal;
$department-color-3-main: $presidential;
$department-color-3-secondary: $lakefill;
$department-color-4-main: $dillo;
$department-color-4-secondary: $primal;


@mixin dept-colors-main($prop, $before:null, $after:null) {
	.stamp.dept-color-1 ~ .viewport & {
		#{$prop}: $before $department-color-1-main $after;
	}
	.stamp.dept-color-2 ~ .viewport & {
		#{$prop}: $before $department-color-2-main $after;
	}
	.stamp.dept-color-3 ~ .viewport & {
		#{$prop}: $before $department-color-3-main $after;
	}
	.stamp.dept-color-4 ~ .viewport & {
		#{$prop}: $before $department-color-4-main $after;
	}
}

@mixin dept-colors-main-darken($prop, $value: 15%) {
	.stamp.dept-color-1 ~ .viewport & {
		#{$prop}: darken($department-color-1-main, $value);
	}
	.stamp.dept-color-2 ~ .viewport & {
		#{$prop}: darken($department-color-2-main, $value);
	}
	.stamp.dept-color-3 ~ .viewport & {
		#{$prop}: darken($department-color-3-main, $value);
	}
	.stamp.dept-color-4 ~ .viewport & {
		#{$prop}: darken($department-color-4-main, $value);
	}
}

@mixin dept-colors-main-lighten($prop, $value: 15%) {
	.stamp.dept-color-1 ~ .viewport & {
		#{$prop}: lighten($department-color-1-main, $value);
	}
	.stamp.dept-color-2 ~ .viewport & {
		#{$prop}: lighten($department-color-2-main, $value);
	}
	.stamp.dept-color-3 ~ .viewport & {
		#{$prop}: lighten($department-color-3-main, $value);
	}
	.stamp.dept-color-4 ~ .viewport & {
		#{$prop}: lighten($department-color-4-main, $value);
	}
}


@mixin dept-colors-secondary($prop, $before:null, $after:null) {
	.stamp.dept-color-1 ~ .viewport & {
		#{$prop}: $before $department-color-1-secondary $after;
	}
	.stamp.dept-color-2 ~ .viewport & {
		#{$prop}: $before $department-color-2-secondary $after;
	}
	.stamp.dept-color-3 ~ .viewport & {
		#{$prop}: $before $department-color-3-secondary $after;
	}
	.stamp.dept-color-4 ~ .viewport & {
		#{$prop}: $before $department-color-4-secondary $after;
	}
}

@mixin dept-colors-secondary-lighten($prop, $value: 15%) {
	.stamp.dept-color-1 ~ .viewport & {
		#{$prop}: lighten($department-color-1-secondary, $value);
	}
	.stamp.dept-color-2 ~ .viewport & {
		#{$prop}: lighten($department-color-2-secondary, $value);
	}
	.stamp.dept-color-3 ~ .viewport & {
		#{$prop}: lighten($department-color-3-secondary, $value);
	}
	.stamp.dept-color-4 ~ .viewport & {
		#{$prop}: lighten($department-color-4-secondary, $value);
	}
}
