
// Page wide Variable
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

$main-area-max-width: 68em;

h1 {
    font-weight: 300;
    font-size: 2em;
    text-transform:uppercase;
    font-family: 'Oswald', sans-serif;
}
h2 {
    font-weight: 300;
    font-size: 1.75em;
    font-family: 'Oswald', sans-serif;
    color: #5a308c;
}

h3 {
    font-weight: 300;
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    color: #5a308c;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: $purple;
}

.hidden {
    display: none !important;
}
.acc-hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    //opacity: 0;
}
body {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: Oswald;
    font-size: 100%;
    -webkit-text-size-adjust: none;
    .ie-too-old {
        display: none;
        html.browser-lt-ie9 & {
            display: block;
            margin: 2em;
        }
    }
}

