@mixin home-content-width {
    max-width: $main-area-max-width;
    width: 100%;
    margin: 0 auto;
}
@mixin prefix($instruction, $value) {
    -webkit-#{$instruction}: $value;
    -moz-#{$instruction}: $value;
    -o-#{$instruction}: $value;
    -ms-#{$instruction}: $value;
    #{$instruction}: $value;
}
@mixin slanted-shadow ($degrees: -2deg, $bottom-height: 10px) {
    &::before, &:before {
        content: '';
        top: 0;
        left: -1px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 101%;
        height: calc(100% + #{$bottom-height});
        height: -webkit-calc(100% + #{$bottom-height});
        z-index: -1;
        @include transform(skewX($degrees));
        @include prefix(transform-origin, 0px 0px);
    }
}

@mixin sidebar ($offset: '- 0px') {
    float: left;
    position: relative;
    width: 20%;
    width: calc(20% #{$offset});
    width: -webkit-calc(20% #{$offset});
}

@mixin card {
    border-radius: 4px;
    background-color: white;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}