.title-lvl-2-container {
	// margin-left: 15px;
	// margin-bottom: 10px;
	// margin-top: 20px;
	position: relative;
	z-index: 0;
	.title-lvl-2 {
		margin-top: 30px;
		position: relative;
		display: inline-block;
		// background-color: $department-color-1;
		color: white;
		font-size: 2.5em;
		font-weight: 300;
		padding: 0 20px;
		margin: 0 20px 20px 20px;
		@include slanted-shadow(-5deg, 5px);
		@include dept-colors-main;
		&:after {
			content: "";
			display: block;
		}
	}
}

@media #{$small} {
	.title-lvl-2-container {
		margin-top: 15px;
	}
}
