.sub-navigation-lvl-2-outer {
	@include sidebar;
	border-right: 1px solid rgba(0, 0, 0, 0.5);
	margin-bottom: 30px;
	.sub-navigation-lvl-2-container {
		padding-left: 10px;
		padding-right: 20px;
		margin-bottom: 30px;
		&:after {
			content: '';
			display: block;
		}
		.sub-navigation-lvl-2-title {
			// background-color: red;
			border-bottom: 3px solid rgba(0, 0, 0, 0.5);
		}
		.sub-navigation-lvl-2 {
			list-style: none;
			margin: 0;
			font-weight: 300;
			text-transform: uppercase;
			

			li {
				ul {
					display: none;
				}

				a {
					display: block;
					padding: 5px 0;
					span.lvl-nav-title-info {
						display: none;
					}
				}
				&.active > a {
					text-decoration: underline;
				}
				&.active.has-children {
					ul {
						list-style-type: none;
						display: block;
						margin: 0;
						padding: 0;
						li {
							margin: 0;
							a {
								font-size: 0.9em;
								text-transform: none;
								text-decoration: none;
								padding: 3px 0;
								color: gray;
								margin-left: 10px;
							}
							&.active > a {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}

@media #{$small} {
	.sub-navigation-lvl-2-outer {
		width: 100%;
		margin-top: 10px;
		margin-bottom: 0;
		border: none;
		.sub-navigation-lvl-2-container {
			margin: 0 20px;
			padding: 0;
			&:after {
			}
			.sub-navigation-lvl-2-title {
				display: none;
			}
			.sub-navigation-lvl-2 {
				margin: 0;
				padding: 0;
				li {
					display: none;
				}

				li.active.has-children {
					margin: 0;
					padding: 0;
					display: block;
					// background: $department-color-1;
					@include dept-colors-main(background-color);
					span.lvl-nav-title-info {
						display: inline;
					}
					& > a {
						display: block;
						color: white;
						text-decoration: none;
						@include dept-colors-main-darken(background-color);
						pointer-events: none;
						&:before {
							margin: 0 10px;
							@include icon('107');
							font-size: 1.4em;
						}
					}
					&.active.closed {
						ul {
							display: none;
						}
						& > a {
							&:before {
								@include icon('105');
							}
						}
					}
					ul {
						display: block;
						li {
							display: list-item;
							a {
								color: white;
								font-size: 1em;
							}
						}
					}
				}
			}
		}
	}
}